# Dependencies
node_modules/
/dist
/build
.npm
/packages/*/dist
/packages/*/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Operating System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage directory used by tools like istanbul
coverage/
.nyc_output/

# Prisma
/apps/backend/prisma/*.db
/apps/backend/prisma/*.db-journal
